*{
    margin: 0;
    padding: 0;
}

#elegirColores{
    display: flex;
    flex-direction: column;
}
#ventanaDeJuego{
    display: flex;
}
#intentos{
    display: flex;
}
img{
    padding: 3px;
}
#intentosUsuario, #coincidenciasUsuario{
    display: flex;
    flex-direction: column-reverse;
}
#coincidenciasUsuario > div > img{
    width:1rem;
}